@import "tailwindcss";

@theme {
  --color-background: #000f00;
  --color-foreground: #ffffff;
  --color-primary: #4fad6b;
  --color-secondary: #b5c479;
}

@layer base {
  h1 {
    @apply mb-4 text-4xl font-bold;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .input {
    @apply rounded-md border-2 border-primary p-2;
  }

  .button {
    @apply rounded-md bg-primary p-2 text-background;
  }
}

@layer utilities {
  .chunk {
    @apply m-4 mx-auto w-full max-w-4xl;
  }
}
